.wp-block-eds-blox-clix {
	text-decoration: none;
	-webkit-box-shadow: 1px 1px 12px 0px rgba(0, 0, 0, 0.45);
	-moz-box-shadow: 1px 1px 12px 0px rgba(0, 0, 0, 0.45);
	box-shadow: 1px 1px 12px 0px rgba(0, 0, 0, 0.45);
	border-radius: 6px;
}
